@font-face {
  font-family: "iconfont"; /* Project id 3908088 */
  src: url('iconfont.woff2?t=1676966830731') format('woff2'),
       url('iconfont.woff?t=1676966830731') format('woff'),
       url('iconfont.ttf?t=1676966830731') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuyanqiehuan1:before {
  content: "\e70b";
}

.icon-xingxing:before {
  content: "\e870";
}

.icon-github:before {
  content: "\e85a";
}

.icon-taiyang:before {
  content: "\e6db";
}

.icon-yuyanqiehuan:before {
  content: "\e633";
}

.icon-ClearNight-qing-yewan:before {
  content: "\e60a";
}

